.app {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    height: 100vh;
  }
  
  .menu {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .menu-item {
    padding: 20px;
    background-color: #444;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .menu-item.blue {
    border: 2px solid #0066cc;
  }
  
  .menu-item.green {
    border: 2px solid #28a745;
  }
  
  .menu-item.yellow {
    border: 2px solid #ffc107;
  }
  
  .menu-item:hover {
    background-color: #555;
  }
  
  .cart {
    flex: 2;
    padding: 20px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart h2 {
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  
  .add-customer, .barcode-input button {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .barcode-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .barcode-input input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    color: black;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
    width: 100%;
    flex: 1;
    overflow-y: auto;
  }
  
  .cart li {
    padding: 10px;
    background-color: #444;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-summary {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .cart-summary input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    color: black;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .charge-btn {
    background-color: #28a745;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  
  .charge-btn:hover {
    background-color: #218838;
  }
  